[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen/
[submodule "bundle/vim-niji"]
	path = bundle/vim-niji
	url = https://github.com/amdt/vim-niji.git
